.header{
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 10%;

    &__nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

        &__text{
            margin: 8px 8px;
            font-size: large;
        }
    }
}