@import '../styles/fonts';
@import '../styles/variables';
@import '../styles/global.scss';

.dashboard{

    &__title{
        text-align: center;
    }

    &__global-form{
        margin: 0 $desk-margin;

        &__label{
            @extend h4;
            margin-right: 16px;
        }
    }

    &__global-chart-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        @include phone {
            flex-flow: column wrap;
        }
    }

    &__global-chart{
        width: 45%;
        height: auto;
        object-fit: contain;
        margin-right: $desk-margin;

        @include phone {
            width: 100%;
            margin-right: 0;
        }

        &__title{
            text-align: center;
        }
    }

    &__source{
        text-align: end;
        margin: $desk-margin;
    }

    &__most-new-cases-container{
        margin: $desk-margin;

        @include phone {
            margin: 16px;
        }

        &__title{
           text-align: center;
        }
    }   
    
    &__top5-container{
        margin: $desk-margin;

        &__title{
            text-align: center;
        }

        &__chart{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }

    &__banner{
        background-color: $sunglow;
        width: 100%;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        &__title{
            margin: 0;
            padding: 16px 0;
            text-align: center;
            @include phone {
                font-size: 1.5rem;
            }
        }

        &__button{
            margin: 16px;
        }
    }
    

}

