@import './../styles/fonts';
@import './../styles/variables';
@import './../styles/global.scss';

.answer{
    
    &__title{
        text-align: center;
        // &--left{

        // }
    }

    &__title-img-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &--left{
            width: 50%;
            margin-left: 32px;
        }
    }

    &__desc{
        width: 100%;
    }

    &__link{
        text-decoration: none;
        color: $oxfordblue;
        transition: 0.5s;
        
        &:hover{
            font-weight: 600;
            
        }
    }

    &__img{
        width: 40%;
        height: auto;
        transform:scale(0.8);
        margin-right: 32px;
        object-fit: contain;
    }

    &__infobox{
        width: 30%;
        margin-right: 16px;
        

        &-container{
        display: flex;
        flex-flow: row wrap;
        margin: 0 32px;
        }

        &__title{
            font-weight: 700;
        }
    }

   &__form{
    display: flex;
    flex-flow: column;
    align-items: center;
    
    &__input{
        border: none;
        border-bottom: 2px solid $oxfordblue;
        border-radius: 4px;
        width: 50%;
        height: 2vw;
        margin: 16px;

        &::placeholder{
            padding-left: 8px;
        }

    }

    // &__button{
    // }
   }


    
}