@import './../styles/fonts';
@import './../styles/variables';
@import './../styles/global.scss';

.worldcards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    @include phone {
        flex-flow: column wrap;
    }

    

    &__card{
        border: 1px solid $ebony;
        border-radius: 4px;
        margin: 16px;
        width: 30%;
        background-color: $oxfordblue;
        transition: 0.5s;

        @include phone {
            width: 90%;
            margin: 16px;
        }

        

        &:hover{
            transform: scale(1.2);
            border: 5px solid $rustyred;

            &:last-child{
                border: 5px solid $emerald;
            }

        }
        
        &__title{
            text-align: center;
            color: white;

            @include phone {
                font-size: $h1phone;
            }
        }

        &__stat{
            font-size: 6rem;
            margin: 32px 0;
            text-align: center;
            color: $rustyred;

            @include phone {
                font-size: $h2phone;
                font-weight: 700;
            }

            &__recovered{
                @extend .worldcards__card__stat;
                color: $emerald;

            }

            
        
        }

        &__desc{
            color: white;
            text-align: center;

            @include phone {
                font-size: $h4phone;
            }
        }

        &__source{
            color: $ebony;
        }

        &__link{
            text-decoration: none;
            color: $ebony;
            font-weight: 600;
        }
    }

   


}