@import './../styles/fonts';
@import './../styles/variables';
@import './../styles//global.scss';

.header{
    width: 100%;
    height: auto;
    background-color: $sunglow;

    &__nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding-right: 32px;

        &__text{
            margin: 8px 8px;
            padding: 4px;
            font-size: large;
            text-decoration: none;
            transition: 0.5s;
            
            &:hover{
                color: white;
                background-color: $oxfordblue;
                border-radius: 4px;
             
            }
        }

        &__link{
            text-decoration: none;
            
        }
    }

    &__container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 16px 0;

        @include phone {
            flex-direction: column-reverse;
            padding: 16px;
        }

        &--left{
            width: 50%;
            padding: 32px;

            @include phone {
                width: 100%;
                padding: 0;
            }
        }
       
    }

    &__title{
        text-transform: capitalize;

        @include phone {
            font-size: 2rem;
        }
    }

    &__desc{
        font-size: 1.25rem;

        @include phone {
            font-size: 1rem;
        }

        &__phrase{
            border-bottom: 3px solid $oxfordblue;
            transition: 0.5s;

            &:hover{
                
                &:nth-child(2){
                    color: white;
                    background-color: $oxfordblue;
                }
            }
        }
    }

    &__img{
        width: 40%;
        height: auto;
        object-fit: contain;
        padding-right: 32px;

        @include phone{
            width: 100%;
            padding-right: 0;
        }

    }

    &__button{
        border: none;
        border-radius: 4px;
        background-color: $rustyred;
        font-size: 1rem;
        font-family: 'Catamaran',sans-serif;
        padding: 16px;
        color: white;
        transition: 0.5s;

        &:hover{
            background-color: $oxfordblue;
        }
    }
}