//color

$rustyred: #de3c4b;
$emerald: #2fbf71;
$sunglow: #fdca40;
$ebony: #464e47;
$oxfordblue: #001d4a;

//font sizes
$h1phone: 1.5rem;
$h2phone: 0.875rem;
$h4phone: 0.8125rem;


//margin
$desk-margin: 32px;

//media queries mixins
@mixin phone {
    @media screen and (max-width: 320px) {
        @content
    }
}