@import "./fonts";
@import "./variables";

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: "Catamaran", sans-serif;
    color: $oxfordblue;

    @include phone {
        font-size: $h1phone;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Catamaran", sans-serif;
    color: $oxfordblue;
    @include phone{
        font-size: $h2phone;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Catamaran", sans-serif;
    color: $oxfordblue;
    @include phone {
        font-size: $h4phone;
    }
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Catamaran", sans-serif;
    color: $oxfordblue;
    @include phone{
        font-size: $h4phone;
    }
}

p {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Catamaran", sans-serif;
    color: $oxfordblue;
    @include phone{
        font-size: $h4phone;
    }
}

a {
    text-decoration: none;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    @include phone{
        font-size: $h4phone;
    }
}

button {
    border: none;
    border-radius: 4px;
    background-color: $rustyred;
    font-size: 1rem;
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    padding: 16px;
    color: white;
    transition: 0.5s;

    @include phone{
        font-size: $h4phone;
    }

    &:hover {
        background-color: $oxfordblue;
    }
}
